body {
  background-color: #c9f1fe;
}

.photo-list  {
  text-align: left;
  background-color: white;
  border-collapse:collapse;
}

.photo-list thead {
  background-color: gray;
}

.photo-viewer .photo {
  width: 500px;
  height: 400px;
}

.left {
  width: 400px;
  float: left;
}

.right {
  margin-left: 500px;
}

.clear {
  clear: both;
}