body {
  background-color: #c9f1fe;
}

.image-list  {
  text-align: left;
  background-color: white;
  border-collapse:collapse;
}

.image-list thead {
  background-color: gray;
}

.image-viewer .image {
  width: 500px;
  height: 400px;
}
